rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /properties/{document=**} {
      allow read, create: if true;
      allow update, delete: if false;
    }
    match /inquiries/{document=**} {
      allow read, write: if true;
    }
  }
}
